sites/default/files
sites/default/files/*
sites/all/modules/contrib/*
sites/all/vendor/*
includes/deploy
vendor
vendor/*
.git
mindmap
cache
*.sql
*/*.sql
*/*/*.sql
*/*/*/*.sql
*/*/*/*/*.sql
*.tar
*/*.tar
*/*/*.tar
*/*/*/*.tar
*/*/*/*/*.tar
*.bz2
*/*.bz2
*/*/*.bz2
*/*/*/*.bz2
*/*/*/*/*.bz2
*.gz
*/*.gz
*/*/*.gz
*/*/*/*.gz
*/*/*/*/*.gz

