.DS_Store
cache
vendor/
bin/
!bin/e
!bin/cs
!bin/enable-xdebug
!bin/run
!bin/runhttpd
includes/deploy
sites/*/settings*.php
sites/site.php
build.*.properties
.htaccess
.aliases
*.txt
*.php
*.bz2
*.gz
*.zip
*.sql
*.tar
web.config
sites/*/files
sites/*/private
docker-compose.yml
docker-compose.ci.deploy.yml
sites/default
